<style>
	@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
	@import url(https://fonts.googleapis.com/css?family=Asap);
	.container 	{
					opacity: 1;
				}
	.rowheader 	{
					background-color: #e65100;
					padding:2em;
					color: #ffe0b2;
					font-family: Fjalla One;
				}

	.rowbody 	{
					background-image: linear-gradient(to top, #ffffff, #ffffff);
					padding:2em;
					border: 1px;
					color:#6a1b9a;
					font-size: 150%;
					font-family: Asap;
    				text-transform: capitalize;
    			}

</style>


<!DOCTYPE html>

<style type="text/css">
body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Container */
.container {
  position: relative;
  max-width: 460px;
  width: 100%;
  margin: 0 auto 100px;
}
.container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
/* Card */
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  margin: 0rem 0 0rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card:first-child {
  background: #fafafa;
  height: 10px;
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 5px solid rgb(27, 170, 170);
  margin: 0 0 35px;
  padding: 10px 0 10px 50px;
  color: rgb(27, 170, 170);
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .info {
  position: relative;
  z-index: 1;
  margin: 0 0 15px;
  padding: 5px 0 5px 40px;
  color: rgb(27, 170, 170);
  font-size: 20px;
  font-weight: 300;
}
.card .input-container {
  position: relative;
  margin: 0 40px -10px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 100px;
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 40px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 35px;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: rgb(27, 170, 170);
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  width: 240px;
  border: 2px solid #e3e3e3;
  padding: 20px 0;
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: rgb(27, 170, 170);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: rgb(27, 170, 170);
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: rgb(27, 170, 170);
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}

</style>



<html >
<head>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
	<div class="container">
	  <div class="card"></div>
	  <div class="card">
	    <h1 class="title">Update Information</h1>
	    <h6 class="info">Please complete the form below to proceed.</h6>
	    <form action="/user/update_form" method="post">
	      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	      <ul>
	      		<% @blank_fields.each do |field| %>
	      			<% if field == "roll_no"%>
	      				<div class="input-container">
			      			<input placeholder="15/IT/XX" id = "user[<%=field%>]" style="border-bottom: 0px; box-shadow: 0 0px" name="user[<%=field%>]" type="text" class="validate" required="required">
	                        <label for="user[<%=field%>]">
								<font><%= field.split('_').map(&:capitalize).join(' ') %>
								 	<span class="req">*</span>
								</font>
							</label>
							<div class="bar"></div>
						</div>
					<% elsif field == "phone" %>
			      		<div class="input-container">
			      			<input placeholder="10 digit" id = "user[<%=field%>]" style="border-bottom: 0px; box-shadow: 0 0px" name="user[<%=field%>]" type="text" class="validate" required="required">
	                        <label for="user[<%=field%>]">
								<font><%= field.split('_').map(&:capitalize).join(' ') %>
								 	<span class="req">*</span>
								</font>
							</label>
							<div class="bar"></div>
						</div>
					<% elsif field == "sgpa" %>
			      		<div class="input-container">
			      			<input placeholder="e.g 7.88 8.72 8.62 9.23" id = "user[<%=field%>]" style="border-bottom: 0px; box-shadow: 0 0px" name="user[<%=field%>]" type="text" class="validate" required="required">
	                        <label for="user[<%=field%>]">
								<font>SGPA
								 	<span class="req">*</span>
								</font>
							</label>
							<div class="bar"></div>
						</div>
					<% elsif field == "cgpa" %>
				    <div class="input-container">
				    	<input placeholder="e.g 7.56" id = "user[<%=field%>]" style="border-bottom: 0px; box-shadow: 0 0px" name="user[<%=field%>]" type="text" class="validate" required="required">
		        	<label for="user[<%=field%>]">
								<font>CGPA<span class="req">*</span></font>
							</label>
							<div class="bar"></div>
						</div>
						<% elsif field == "ug_pg" %>
							<div class="input-container">
								<input placeholder="UG" id = "user[<%=field%>]" style="border-bottom: 0px; box-shadow: 0 0px" name="user[<%=field%>]" type="text" class="validate" required="required">
								<label for="user[<%=field%>]">
									<font>UG/PG<span class="req">*</span></font>
								</label>
								<div class="bar"></div>
							</div>
					<% elsif field == "date_of_birth" %>
						<div style="margin: 0 40px 10px;">
							<font style="font-size:24px;font-weight:300;"><%= field.split('_').map(&:capitalize).join(' ') %>
								<span class="req">*</span>
							</font>
							<input type="text" class="datepicker" name="user[date_of_birth]">
						</div>
						<% elsif field == "dept" %>
							<div style="margin: 0 40px 10px ;">
								<font style="font-size:24px;font-weight:300;">Department<span class="req">*</span></font>
								<div class="input-field col s12">
							    <select id="dept">
							      <option value="" disabled selected></option>
							      <option value="BT">BT</option>
							      <option value="CE">CE</option>
							      <option value="CH">CH</option>
										<option value="CS">CS</option>
										<option value="EC">EC</option>
										<option value="EE">EE</option>
										<option value="IT">IT</option>
										<option value="ME">ME</option>
										<option value="MM">MM</option>
							    </select>
							  </div>
							</div>
							<input type="text" name="user[dept]" id="dept-hidden" hidden/>
							<div class="bar"></div>
							<% elsif field == "college" %>
								<div style="margin: 0 40px 10px ;">
									<font style="font-size:24px;font-weight:300;">College<span class="req">*</span></font>
									<div class="input-field col s12">
								    <select id="college">
								    </select>
								  </div>
								</div>
								<input type="text" name="user[college]" id="college-hidden" hidden/>
								<div class="bar"></div>
					<% else %>
			      		<div class="input-container">
			      			<input id = "user[<%=field%>]" style="border-bottom: 0px; box-shadow: 0 0px" name="user[<%=field%>]" type="text" class="validate" required="required">
	                        <label for="user[<%=field%>]">
								<font><%= field.split('_').map(&:capitalize).join(' ') %>
								 	<span class="req">*</span>
								</font>
							</label>
							<div class="bar"></div>
						</div>
					<% end %>
				<% end %>
		  </ul>
	      <div id="submit-btn-div" class="button-container" type="submit" value="Submit" name="action">
	        <button><span>Submit</span></button>
	      </div>
	    </form>
	  </div>
	</div>
</body>
<script>

var colleges = {
	'c1':"NIT Durgapur",
	'c2':"NIT Jamshedpur",
	'c3':"NIT Rourkela",
	'c4':"NIT Trichy",
	'c5':"NIT Patna",
	'c6':"NIT Raipur",
	'c7':"MANIT Bhopal",
	'c8':"NIT Silchar",
	'c9':"NIT Warangal",
	'c10':"NIT Durgapur",
	'c11':"NIT Jamshedpur",
	'c12':"NIT Rourkela"
};
var d = new Date();
d.setFullYear( d.getFullYear() - 50 );
$('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 50, // Creates a dropdown of 15 years to control year
		min: d,
		max: new Date()
});

$("#dept").on('change', function() {
        $('#dept-hidden').val($(this).val());
});

$("#college").on('change', function() {
        $('#college-hidden').val($(this).val());
});

$(document).ready(function() {
    $('select').material_select();
		$('#college').append($("<option></option>").attr("value","").text(""));
		$.each(colleges, function(key, value) {
			$('#college').append($("<option></option>").attr("value", value).text(value));
		});
		$("#college").material_select();
});
</script>
</html>
