<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<style>
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}
</style>

<h1> Welcome Admin</h1>
<h4><a href="/admin/company/new">Add Company</a></h4>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Add Offers</button>
<!-- Modal -->
<div id="myModal1" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Offers</h4>
      </div>
      <div class="modal-body" id="placement_table_wrapper">
        <form action="/admin/add_offer" method="post">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <div class="input-field col xl4">
            <label>Company</label>
            <select name="company" onmousedown="if(this.options.length>5){this.size=5;}"  onchange='this.size=0;' onblur="this.size=0;">
            <option value="" disabled selected>Choose a Company</option>
              <% companies = Company.all %>
              <% companies.each do |company| %>
                <option value="<%= company.name %>"><%= company.name%></option>
              <% end %>
            </select>
          </div>

          <div class="input-field col s6">
            <label for="roll_nos">Roll No of Selected Students</label><br />
            <input id="roll_nos" name="roll_nos" type="text" class="validate">
          </div>

          <input type="submit" value="Add Offer">
        </form>
      </div>
    </div>

  </div>
</div>
</br>
</br>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2">Generate Placement Statistics</button>
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Placement Statics</h4>
      </div>
      <div class="modal-body" id="statics_table_wrapper">
        <% companies = Company.all %>
        <% depts = ["BT", "CE", "CH", "CS", "EE", "EC", "IT", "ME", "MM"] %>
        <table class="table">
          <tr>
            <th>Company</th>
            <% depts.each do |dept| %>
              <th><%= dept %></th>
            <% end %>
          </tr>
          <% companies.each do |company| %>
            <tr>
              <td><%= company.name %></td>
              <% depts.each do |dept| %>
                <% if company.departments.include?(dept) %>
                  <td><%= company.fte_offers[dept] %></td>
                <% else %>
                  <td>-</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
</br>
<br/>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModa3">Generate Intern Statistics</button>
<div id="myModa3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Placement Statics</h4>
      </div>
      <div class="modal-body" id="statics_table_wrapper">
        <% companies = Company.all %>
        <% depts = ["BT", "CE", "CH", "CS", "EE", "EC", "IT", "ME", "MM"] %>
        <table class="table">
          <tr>
            <th>Company</th>
            <% depts.each do |dept| %>
              <th><%= dept %></th>
            <% end %>
          </tr>
          <% companies.each do |company| %>
            <tr>
              <td><%= company.name %></td>
              <% depts.each do |dept| %>
                <% if company.departments.include?(dept) %>
                  <td><%= company.intern_offers[dept] %></td>
                <% else %>
                  <td>-</td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
